<html xmlns:th="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorator="moderator/profile.html">

<title layout:fragment="title">Moderator profile/Edit category</title>

<div layout:fragment = "mainPart" >

		<h5 class="col">Edit category</h5>

		<form th:action="@{/category/editCategoryName}" method="post">
			<input type="hidden" name="id" th:value="${category.getId()}">
			<div class="form-group col-md-6">
				<label>Name</label>
				<div class="row">
					<div class="col-md-8">
						<input type="text" name="name" th:value="${category.getName()}" th:placeholder="${category.getName()}" class="form-control">
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-outline-primary">Save</button>
					</div>
				</div>
			</div>
		</form>


</div>

</html>