<html xmlns:th="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorator="main/main.html">


<title layout:fragment="title">Moderator profile</title>

<div layout:fragment = "contentPart" >
	<!-- ========================= SECTION PAGETOP ========================= -->
	<section class="section-pagetop bg">
		<div class="container">
			<h2 class="title-page"></h2>
		</div> <!-- container //  -->
	</section>
	<!-- ========================= SECTION INTRO END// ========================= -->

	<!-- ========================= SECTION CONTENT ========================= -->
	<section class="section-content padding-y">
		<div class="container">

			<div class="row">
				<aside class="col-md-2">
					<ul class="list-group">
						<a class="list-group-item list-group-item-action list-group-item-info"  th:href="@{/moderatorProfile}">Account Page </a>
						<a  class="list-group-item list-group-item-action list-group-item-danger" th:href="@{/category/pageCategoriesList}"> Basics </a>
						<a  class="list-group-item list-group-item-action list-group-item-success"th:href="@{/product/pageProductsList}"> Products(cofee) </a>
					</ul>

					<script>

						$(document).ready(function(){
							$('ul a').each(function () {

								if (this.href.split('/')[3] == location.href.split('/')[3]) {//nuzhno dopolnit chtoby videl tolko '/product'
									$(this).addClass('active').siblings().removeClass('active');
								}
								// if (this.href == location.href)//nuzhno dopolnit chtoby videl tolko '/product'
								// 		$(this).addClass('active').siblings().removeClass('active');
								// console.log(this.href);
								// console.log(this.href.split('/')[3]);
								// console.log(location.href.split('/')[3]);
								// var pathArray = window.location.pathname.split('/');
								// console.log(pathArray)
								// var tagHref = this.href.split('/');
								// console.log(tagHref)
								// 	// $(this).addClass('active');
								// console.log(pathArray[1]==tagHref[3]);
								// if (pathArray[1]==tagHref[3]) {//nuzhno dopolnit chtoby videl tolko '/product'//zdes dopolnyl
								// 	$(this).addClass('active').siblings().removeClass('active');
								// }

							});
						});
					</script>

				</aside> <!-- col.// -->


					<main class="col-md-10">

						<div layout:fragment = "mainPart" >
						<article class="card mb-3">
							<div class="card-body">


								<section class="section-content padding-y">
									<div class="container">

										<div class="row">

											<main class="col-md-9">

												<article class="card mb-3">
													<div class="card-body">

														<figure class="icontext">
															<div class="icon">
																<img class="rounded-circle img-sm border" th:src="@{/images/mimi.jpg}" width="300px" height="300px" >
															</div>


															<div class="text">
																<strong><span class="navbar-text" sec:authentication = "name"></span> </strong> <br>
																Role: <span class="navbar-text" sec:authentication property = "authorities"></span><br>
																<a href="#">Details</a>
															</div>
														</figure>
														<hr>
														<p>
															<i class="fa fa-map-marker text-muted"></i> &nbsp;Location:
															<br>
															Almaty city, Abaya-Manasa name, House 33A &nbsp
															<a href="#" class="btn-link"> Details</a>
														</p>



														<article class="card-group">
															<figure class="card bg">
																<div class="p-3">
																	<h5 class="card-title">13</h5>
																	<a href="#"><i class='fas fa-cart-plus'></i></a>
																	<span>Orders</span>
																</div>
															</figure>
															<figure class="card bg">
																<div class="p-3">
																	<h5 class="card-title">2</h5>
																	<a href="#"><i class='fas fa-coffee'></i></a>
																	<span>Americano</span>
																</div>
															</figure>
															<figure class="card bg">
																<div class="p-3">
																	<h5 class="card-title">3</h5>
																	<a href="#"><i class='fas fa-coffee'></i></a>
																	<span>Mokko</span>
																</div>
															</figure>
															<figure class="card bg">
																<div class="p-3">
																	<h5 class="card-title">8</h5>
																	<a href="#"><i class='fas fa-coffee'></i></a>
																	<span>Cappuccino</span>
																</div>
															</figure>
														</article>


													</div> <!-- card-body .// -->
												</article> <!-- card.// -->



											</main> <!-- col.// -->
										</div>

									</div> <!-- container .//  -->
								</section>


							</div> <!-- card-body .// -->
						</article> <!-- card.// -->

						<article class="card  mb-3">
							<div class="card-body">
								<h5 class="card-title mb-4">Recent orders </h5>

								<div class="row">
									<div class="col-md-6">
										<figure class="itemside  mb-3">
											<div class="aside"><img src="images/items/1.jpg" class="border img-sm"></div>
											<figcaption class="info">
												<time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
												<p>Great item name goes here </p>
												<span class="text-warning">Pending</span>
											</figcaption>
										</figure>
									</div> <!-- col.// -->
									<div class="col-md-6">
										<figure class="itemside  mb-3">
											<div class="aside"><img src="images/items/2.jpg" class="border img-sm"></div>
											<figcaption class="info">
												<time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
												<p>Machine for kitchen to blend </p>
												<span class="text-success">Departured</span>
											</figcaption>
										</figure>
									</div> <!-- col.// -->
									<div class="col-md-6">
										<figure class="itemside mb-3">
											<div class="aside"><img src="images/items/3.jpg" class="border img-sm"></div>
											<figcaption class="info">
												<time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
												<p>Ladies bag original leather </p>
												<span class="text-success">Shipped  </span>
											</figcaption>
										</figure>
									</div> <!-- col.// -->
								</div> <!-- row.// -->

								<a href="#" class="btn btn-outline-primary"> See all orders  </a>
							</div> <!-- card-body .// -->
						</article> <!-- card.// -->
						</div>
					</main> <!-- col.// -->


			</div>

		</div> <!-- container .//  -->
	</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
</div>

</html>