<html xmlns:th="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  layout:decorator="main/main.html">


<title layout:fragment="title">Website title - bootstrap html template</title>

<div layout:fragment = "contentPart" >
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Sign up</h4></header>
		  <form th:action="@{/register}" method="post">
				<div class="form-row">
					<div class="col form-group">
						<label>First name</label>
					  	<input type="text" name="name" class="form-control" placeholder="first name">
					</div> <!-- form-group end.// -->
					<div class="col form-group">
						<label>Last name</label>
					  	<input type="text" name="surName" class="form-control" placeholder="last name">
					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->
				<div class="form-group">
					<label>Email</label>
					<input type="text" name="email" class="form-control" placeholder="email"><!-- type="email"-->
				 </div> <!-- form-group end.// -->
				
				

			  <div class="form-group ">
						<label>Create password</label>
					    <input class="form-control" name="password" type="password" placeholder="passsword">
	          </div> <!-- form-group end.// -->
					<div class="form-group ">
						<label>Repeat password</label>
					    <input class="form-control" name="re-password" type="password" placeholder="passsword">
			  </div> <!-- form-group end.// -->

			    <div class="form-group">
			        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
			    </div> <!-- form-group// -->      
			        
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->

    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
</div>

</html>